@charset "UTF-8";
/* ОБЩИЕ СТИЛИ */
body {
  margin: 0;
  padding: 0;
  font-family: Gilroy, Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  position: relative; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }

ol {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; }

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; }

.btn {
  display: inline-block;
  width: 220px;
  height: 40px;
  margin: 0;
  position: relative;
  vertical-align: middle;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3px;
  color: black;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
  border: none; }
  .btn::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #f0c52e;
    width: 100%;
    height: 8px;
    z-index: -1;
    top: 20%;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear; }
  .btn:hover:before {
    height: 40px;
    top: -20%; }
  .btn:active {
    color: rgba(0, 0, 0, 0.3); }

.btn-long {
  width: 260px; }

.btn-classic::before {
  top: 40%; }

/* ШАПКА */
.main__header {
  padding: 0 20px; }

.main__navigation {
  width: 1160px;
  min-height: 300px;
  margin: 40px auto 0;
  padding: 33px 60px 0;
  background-color: #f7e296;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative; }

.main__logo {
  position: absolute;
  font-size: 48px;
  text-transform: uppercase;
  color: #000000;
  top: -54px;
  left: 60px; }

.main__navigation a {
  color: #000; }

.main__block-one,
.main__block-two,
.main__user-navigation,
.main__user-wrapper,
.main__services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.main__block-one {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.main__search,
.main__user-wrapper {
  width: 500px; }

.main__search {
  margin-right: 40px;
  height: 49px; }

.main__search-input {
  width: 355px;
  height: 49px;
  padding-left: 38px;
  background-color: transparent;
  border: none;
  outline: none;
  background: url(../img/Header/search.svg) no-repeat;
  background-position: 1% 50%; }
  .main__search-input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3); }
  .main__search-input::-moz-placeholder {
    color: rgba(0, 0, 0, 0.3); }
  .main__search-input:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3); }
  .main__search-input::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3); }
  .main__search-input::placeholder {
    color: rgba(0, 0, 0, 0.3); }
  .main__search-input:hover::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.6); }
  .main__search-input:hover::-moz-placeholder {
    color: rgba(0, 0, 0, 0.6); }
  .main__search-input:hover:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6); }
  .main__search-input:hover::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6); }
  .main__search-input:hover::placeholder {
    color: rgba(0, 0, 0, 0.6); }
  .main__search-input:focus::-webkit-input-placeholder {
    color: black; }
  .main__search-input:focus::-moz-placeholder {
    color: black; }
  .main__search-input:focus:-ms-input-placeholder {
    color: black; }
  .main__search-input:focus::-ms-input-placeholder {
    color: black; }
  .main__search-input:focus::placeholder {
    color: black; }

.main__search-btn {
  opacity: 0;
  width: 85px;
  height: 49px;
  position: relative;
  background-color: transparent;
  border: 2px solid black;
  color: #000; }
  .main__search-btn::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #000;
    top: 45px;
    left: -362px;
    -webkit-transition: width 0.2s linear;
    -o-transition: width 0.2s linear;
    transition: width 0.2s linear; }
  .main__search-btn:hover {
    background-color: #000;
    color: white; }
  .main__search-btn:active {
    color: rgba(255, 255, 255, 0.3); }

.main__search-input:focus + .main__search-btn,
.main__search-btn:active {
  opacity: 1; }

.main__search-input:focus + .main__search-btn::after {
  width: 441px; }

.main__user-wrapper {
  font-family: "Open Sans", Arial, sans-serif;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px; }

.main__user-login__item {
  padding-left: 27px;
  background: url("../img/Header/user.svg") no-repeat;
  background-position: 2% 49%; }

.main__user-navigation__item {
  width: 120px;
  text-align: right; }

.main__user-navigation__item:first-child {
  background: url("../img/Header/compare.svg") no-repeat;
  background-position: 25% 37%; }

.main__user-navigation__item:last-child {
  background: url("../img/Header/cart.svg") no-repeat;
  background-position: 36% 37%; }

.main__block-two {
  padding-top: 25px; }

.main__catalog,
.main__services__list {
  width: 500px; }

.main__catalog,
.main__services__list {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 4px; }

.main__catalog {
  margin-right: 40px;
  position: relative;
  background-color: #f7e296; }

.main__catalog-btn__list::before,
.main__catalog-btn__list::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  top: 14px;
  left: 237px; }

.main__catalog-btn__list::before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }

.main__services__item {
  width: 160px; }
  .main__services__item:last-child {
    margin-left: auto;
    margin-right: -4px;
    text-align: right; }

.main__dropdown-catalog {
  display: none;
  position: absolute;
  z-index: 3;
  width: 1160px;
  min-height: 162px;
  top: 30px;
  left: -60px;
  padding: 20px 0 0 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0;
  text-transform: none;
  font-weight: 300;
  background-color: #f7e296; }

.main__catalog:hover .main__dropdown-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.main__dropdown-catalog__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px; }
  .main__dropdown-catalog__item:first-child {
    margin-right: 40px; }

.main__user-navigation__item:hover,
.main__user-login__item:hover,
.main__logo:hover,
.main__catalog-btn__list:hover,
.dropdown-catalog-btn:hover,
.main__services__item:hover {
  opacity: .6; }

.main__user-navigation__item:active,
.main__user-login__item:active,
.main__logo:active,
.main__catalog-btn__list:active,
.dropdown-catalog-btn:active,
.main__services__item:active {
  opacity: .3; }

/* СЛАЙДЕР Хит-продаж */
.bestseller {
  padding: 0 20px; }
  .bestseller__wrapper {
    width: 1160px;
    min-height: 540px;
    margin: 0 auto 55px;
    position: relative; }
  .bestseller__list {
    width: 100%;
    margin: -112px auto 0; }

.bestseller__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.bestseller__img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 560px;
  margin-right: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.bestseller__text-wrapper {
  position: relative;
  width: 500px;
  padding-top: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .bestseller__text-wrapper::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 7px;
    top: 40px;
    background-color: #fff; }

.bestseller__pagination {
  position: absolute;
  right: -11px;
  top: 64px;
  font-size: 179.2px;
  font-weight: 800;
  color: white; }

.bestseller__item-description {
  position: relative;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  margin: 0 0 20px;
  z-index: 2; }

.bestseller__item-text {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  margin: 0 0 70px; }

.bestseller .btn {
  margin-bottom: 45px; }

.bestseller__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.bestseller__feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 70px; }

.bestseller__feature-text {
  display: block; }
  .bestseller__feature-text:first-child {
    margin-bottom: 5px;
    font-size: 36px;
    line-height: 48px; }
  .bestseller__feature-text:last-child {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 21px; }

/* КАТАЛОГ */
.catalog {
  padding: 0 20px; }
  .catalog__wrapper {
    width: 1160px;
    margin: 0 auto; }
  .catalog__list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto; }

.catalog__item {
  width: 160px;
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.catalog__item-src {
  background-color: #f7e296;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px; }

.catalog__item:nth-child(2) .catalog__item-src {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.catalog__item-src:first-child:hover {
  background-color: #f0c52e; }

.catalog__item a:last-child {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: black; }

.catalog__item-img:active,
.catalog__item:active .catalog__item-description:last-child {
  opacity: .5; }

/* СЕРВИС */
.services {
  width: 100%;
  min-height: 475px;
  position: relative; }
  .services::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(39%, #fff), color-stop(39%, #e5e5e5));
    background: -o-linear-gradient(top, #fff 39%, #e5e5e5 39%);
    background: linear-gradient(to bottom, #fff 39%, #e5e5e5 39%);
    z-index: -1; }

.services__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding: 93px 20px 0; }

.services__list-label {
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 319px;
  border-right: 6px solid black; }

.services__btn {
  width: 160px;
  height: 40px;
  position: relative;
  margin: 14px 0;
  background-color: transparent;
  border: none;
  font-size: 18px;
  font-weight: 800;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
  z-index: 1;
  -webkit-transition: width .1s linear;
  -o-transition: width .1s linear;
  transition: width .1s linear; }
  .services__btn:before {
    content: "";
    position: absolute;
    background-color: #f0c52e;
    width: 100%;
    height: 8px;
    top: 40%;
    left: 0;
    z-index: -1;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear; }
  .services__btn:hover:before {
    height: 40px;
    top: 0; }

.toggle.services__btn {
  color: #f0c52e; }

.toggle.services__btn:before {
  background-color: #000;
  top: 0;
  height: 40px;
  width: 280px; }

.services__description-list {
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -10px;
  padding-left: 115px;
  position: relative; }

.description-item {
  width: 700px;
  position: absolute;
  -webkit-transform: translateX(-150px);
      -ms-transform: translateX(-150px);
          transform: translateX(-150px);
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  opacity: 0;
  pointer-events: none; }

.description-delivery {
  background: url("../img/Main/Services/delivery.svg") no-repeat;
  background-size: 136px 164px;
  background-position: 100% 40%; }

.description-warantly {
  background: url("../img/Main/Services/warranty.svg") no-repeat;
  background-size: 171px 194px;
  background-position: 100% 10%; }

.description-credit {
  background: url("../img/Main/Services/credit.svg") no-repeat;
  background-size: 156px 186px;
  background-position: 100% 10%; }

.services__description-item__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 800;
  margin: 8px 0 30px;
  letter-spacing: 4px; }

.services__description-item__text {
  width: 460px;
  margin: 0 0 20px; }

.brands {
  padding: 0 20px; }

.brands__list {
  width: 1160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.brands__item-img {
  margin: 90px 0 80px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: .2; }

.brands__item-img:hover {
  -webkit-filter: none;
          filter: none;
  opacity: 1; }

/* О НАС И КОНТАКТЫ */
.information {
  margin: 0 auto; }

.information__wrapper {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.information__about-us,
.information__contacts {
  width: 560px;
  position: relative; }

.information__about-us::before,
.information__contacts::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 8px;
  background-color: black; }

.information__about-us {
  padding-right: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.information__about-us--title {
  font-size: 47px;
  line-height: 48px;
  margin: 50px 0 45px; }

.information__about-us--text {
  margin: 0; }
  .information__about-us--text:first-of-type {
    margin-bottom: 30px; }
  .information__about-us--text:last-of-type {
    margin-bottom: 65px; }

.information__delivery-companies--list {
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  margin-bottom: 63px; }

.information__delivery-companies--item {
  position: relative;
  padding-left: 35px; }
  .information__delivery-companies--item::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 30%;
    left: 0;
    background: url("../img/Main/AboutUs/slider-button.svg") no-repeat;
    background-size: 15px 15px;
    opacity: .2; }

.information__contacts--text {
  margin-bottom: 40px; }

.information__contacts--img {
  padding-right: 0;
  margin-bottom: 66px; }

.information .btn {
  margin-bottom: 75px; }

/* ПОДВАЛ  */
.footer--display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.main__footer {
  width: 100%;
  position: relative;
  color: #fff; }
  .main__footer__wrapper {
    width: 1160px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .main__footer::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #464646;
    z-index: -1; }
  .main__footer a {
    color: #fff; }

.footer__logo--text {
  font-size: 48px;
  font-weight: 800;
  line-height: 48px;
  text-transform: uppercase;
  color: #ffc600; }

.footer__first-block,
.footer__third-block {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.footer__first-block {
  padding-top: 58px;
  margin-bottom: 25px; }

.footer__second-block {
  margin-bottom: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footer__third-block {
  padding-bottom: 67px; }

.footer__user-navigation__wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right; }

.footer__goods-navigation__list {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  line-height: 36px; }

.footer__menu-navigation__list {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase; }

.footer__menu-navigation__item {
  width: 140px;
  letter-spacing: 0.2rem; }

.footer__item--opacity:hover {
  opacity: .6; }

.footer__item--opacity:active {
  opacity: .3; }

.footer__item {
  margin-left: 36px;
  margin-top: -10px; }

.footer__logout {
  opacity: .3;
  margin-left: -10px; }

.footer__login {
  background: url("../img/Footer/user.svg") no-repeat;
  background-size: 15px 15px;
  padding-left: 25px; }

.footer__compare {
  background: url("../img/Footer/compare.svg") no-repeat;
  background-size: 15px 15px;
  padding-left: 25px; }

.footer__cart {
  background: url("../img/Footer/cart.svg") no-repeat;
  background-size: 15px 15px;
  padding-left: 25px; }

.footer__social__item {
  opacity: .3; }
  .footer__social__item:hover {
    opacity: 1; }
  .footer__social__item:active {
    opacity: .1; }

.footer__third-block .line {
  width: 80px;
  height: 7px;
  background-color: #ffc600; }

.footer__social__list {
  position: relative;
  left: -22px; }

.footer__social__item {
  margin: 0 11.5px; }

.logo-facebook {
  display: block;
  width: 32px;
  height: 32px;
  background: url("../img/Footer/fb.svg") no-repeat; }

.logo-instagram {
  display: block;
  width: 32px;
  height: 32px;
  background: url("../img/Footer/insta.svg") no-repeat; }

.logo-twitter {
  display: block;
  width: 32px;
  height: 32px;
  background: url("../img/Footer/twitter.svg") no-repeat; }

.catalog .main__navigation {
  min-height: 186px; }

.catalog .main__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.catalog .main__user-login__item {
  margin-right: 20px;
  background-position-y: 37%; }

.main__user-logout__item {
  opacity: .3; }

.catalog {
  padding: 0; }

.monopods__wrapper {
  margin: 0 auto;
  overflow: hidden; }

.monopods__title-block {
  width: 1160px;
  margin: 41px auto 43px;
  padding-left: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.title-block__page-title {
  display: inline-block;
  font-size: 47px;
  line-height: 48px;
  margin: 0 0 22px; }

.title-block__breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.title-block__breadcrumb, .title-block__breadcrumb__link {
  position: relative;
  margin-right: 38px;
  color: rgba(0, 0, 0, 0.3); }
  .title-block__breadcrumb:hover, .title-block__breadcrumb__link:hover {
    color: rgba(0, 0, 0, 0.6); }
  .title-block__breadcrumb:active, .title-block__breadcrumb__link:active {
    color: rgba(0, 0, 0, 0.1); }

.title-block__breadcrumb:not(:last-child)::after, .title-block__breadcrumb__link:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  right: -20px;
  top: 40%;
  background: url("../img/Second-page/nav-arrow.svg") no-repeat; }

.title-block__breadcrumb__link {
  margin: 0; }

.monopods-block__wrapper {
  max-width: 1160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  position: relative; }
  .monopods-block__wrapper::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: -o-linear-gradient(top, #dcdcdc 69px, #eeeeee 69px);
    background: linear-gradient(to bottom, #dcdcdc 69px, #eeeeee 69px);
    left: -100%; }
  .monopods-block__wrapper::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 69px;
    background-color: #ebebeb;
    right: -100%; }

.filters-block__container {
  width: 328px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.filters-block__title {
  margin: 0;
  padding: 19px 0 20px 60px;
  background-color: #dcdcdc;
  text-transform: uppercase;
  letter-spacing: 3px; }

.filters-block__form {
  height: 100%;
  padding: 85px 0 0 60px;
  background-color: #eeeeee; }

.filters-block__price,
.filters-block__color,
.filters-block__bluetooth {
  margin: 0;
  padding: 0;
  border: none; }

.filters-block__price {
  margin-bottom: 55px; }

.filters-block__color {
  margin-bottom: 44px; }

.filters-block__price__title,
.filters-block__color__title,
.filters-block__bluetooth__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  position: relative; }
  .filters-block__price__title::before,
  .filters-block__color__title::before,
  .filters-block__bluetooth__title::before {
    content: "";
    display: block;
    position: absolute;
    top: -13px;
    height: 2px;
    width: 200px;
    background-color: #000; }

.filters-block__color__title {
  margin-bottom: 18px; }

.filters-block__color__item {
  position: relative;
  padding-left: 20px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  position: relative; }

.filters-block__color__checkbox {
  opacity: 0;
  pointer-events: none; }

.checkbox-img {
  position: absolute;
  width: 27px;
  height: 23px;
  top: -2px;
  left: 0;
  background: url("../img/Second-page/checkbox-off.svg") no-repeat; }

.checkbox-img:focus {
  outline: 1; }

.filters-block__color__checkbox:checked + .checkbox-img {
  background: url("../img/Second-page/checkbox-on.svg") no-repeat; }

.filters-block__bluetooth__list {
  margin-bottom: 32px; }

.filters-block__bluetooth__title {
  margin-bottom: 15px; }

.filters-block__bluetooth__item {
  position: relative;
  padding-left: 20px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px; }

.filters-block__bluetooth__radio {
  opacity: 0;
  pointer-events: none; }

.filters-block__bluetooth__img {
  position: absolute;
  width: 25px;
  height: 25px;
  top: -2px;
  left: 0;
  background: url("../img/Second-page/radio-off.svg") no-repeat; }

.filters-block__bluetooth__radio:checked + .filters-block__bluetooth__img {
  background: url("../img/Second-page/radio-on.svg") no-repeat; }

.filters-block__form .btn {
  width: 200px;
  z-index: 0;
  top: 40%;
  margin: 0;
  padding: 0; }

.filters-block__form .btn::before {
  width: 200px; }

.filters-block__form .btn:hover::before {
  top: 0; }

.catalog__block {
  margin-left: auto; }

.sort-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }
  .sort-wrapper::before {
    content: "";
    position: absolute;
    width: 110%;
    height: 100%;
    background-color: #ebebeb;
    left: -75px;
    z-index: -1; }

.sort-wrapper h3 {
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 2px 59px 2px 0; }

.sort-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.sort-item {
  padding-right: 33px;
  font-size: 14px;
  opacity: 0.3;
  color: black; }

.sort-price {
  opacity: 1; }

.sort-item:hover {
  opacity: .6; }

.sort-item:active {
  opacity: 1; }

.sort-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto; }

.sort-order li {
  width: 11px;
  margin: 8.5px;
  cursor: pointer; }

.sort-order-item {
  display: block;
  width: 11px;
  height: 10px;
  background: url("../img/Second-page/icon-up-dir.svg") no-repeat;
  opacity: .2; }

.sort-order-item:hover {
  opacity: .4; }

.sort-order-item:active {
  opacity: 1; }

.sort-order .sort-order-current {
  opacity: 1; }

.sort-order li:last-child {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.monopods-wrapper {
  max-width: 760px; }

.monopods-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 70px; }

.monopods-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.monopods-item-hover .btn {
  width: 200px;
  z-index: 1; }

.monopods-item-hover .comparison {
  font-family: "Open Sans", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.5); }

.monopods-title-wrapper {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 0 37px;
  padding: 0; }

.monopods-item h3 {
  width: 260px;
  margin: 0;
  padding: 0; }

.monopods-item span {
  color: black; }

.monopods-hover-container {
  width: 360px;
  height: 380px;
  position: relative; }

.monopods-item-img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: block;
  width: 360px;
  height: 380px;
  margin-bottom: 30px; }

.monopods-item-hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  background-color: rgba(238, 238, 238, 0.7);
  opacity: 0; }

.monopods-item-img:hover + .monopods-item-hover,
.monopods-item-hover:hover {
  opacity: 1; }

.title-new::after {
  content: "";
  width: 61px;
  height: 61px;
  position: absolute;
  top: 7%;
  right: 7%;
  background: url("../img/Second-page/NEW.png") no-repeat; }

.pagination-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: -11px 0 77px;
  background-color: #ebebeb; }

.pagination-wrapper a {
  color: #000; }

.pagination-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.pagination-number li {
  margin: 0 16px; }

.pagination-item {
  font-size: 16px;
  font-weight: 800;
  opacity: .3; }

.pagination-current {
  opacity: 1; }

.pagination-item:active {
  opacity: 1; }

.pagination-back,
.pagination-forward {
  padding: 20px 20px;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: .2rem; }

.pagination-back:hover,
.pagination-forward:hover {
  background-color: #d9d9d9; }

.pagination-back:active,
.pagintaion-forward:active {
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.3); }

.footer__login-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footer__navigation__login {
  background: url("../img/Footer/user.svg") no-repeat;
  background-size: 15px 15px;
  margin-right: 20px;
  padding-left: 25px; }

.footer__navigation__logout {
  opacity: .3; }
