.btn {
	display: inline-block;
	width: 220px;
	height: 40px;
	margin: 0;
	position: relative;
	vertical-align: middle;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	letter-spacing: 3px;
	color: rgb(0, 0, 0);
	text-transform: uppercase;
	text-align: center;
	background-color: transparent;
	border: none;
	cursor: pointer;
	&::before {
		content: "";
		display: block;
		position: absolute;
		background-color: #f0c52e;
		width: 100%;
		height: 8px;
		z-index: -1;
		top: 20%;
		transition: all .1s linear;
	}
	&:hover:before {
		height: 40px;
		top: -20%;
	}
	&:active {
		color: rgba(0, 0, 0, .3);
	}
}

.btn-long {
	width: 260px;
}

.btn-classic::before {
	top: 40%;
}