/* ОБЩИЕ СТИЛИ */

body {
	margin: 0;
	padding: 0;

	font-family: Gilroy, Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	position: relative;	
}

a {
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
}

ol {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

@import "font";
@import "button";
@import "modal";

@import "index/header";
@import "index/main"; 
@import "index/footer";
@import "index/slider_slick";

@import "catalog/header";
@import "catalog/main";
@import "catalog/footer";
@import "catalog/range_slider";
