.catalog .main__navigation {
	min-height: 186px;
}

.catalog .main__login {
	display: flex;
}

.catalog .main__user-login__item {
	margin-right: 20px;
	background-position-y: 37%;
}

.main__user-logout__item {
	opacity: .3;
}